<section class="nav-and-info">
	<div class="navbar">
		<ul class="nav nav-pills">
			<li ng-class="{ active: panel.isSelected(1)}"> <a href ng-click="panel.selectPanel(1)">Beskrivelse</a></li>
			<li ng-class="{ active: panel.isSelected(2)}"> <a href ng-click="panel.selectPanel(2)">Stats</a></li>
			<li ng-class="{ active: panel.isSelected(3)}"> <a href ng-click="panel.selectPanel(3)">Historikk</a></li>
		</ul>
	</div>
	<div class="panel" ng-show="panel.isSelected(1)">
		<p>{{person.description}}</p>
	</div>
	<div class="panel" ng-show="panel.isSelected(2)">
		<p>{{person.price}}</p>
	</div>
	<div class="panel" ng-show="panel.isSelected(3)">
		<p>{{person.history}}</p>
	</div>
</section>
